{% extends 'hlipage/base.html' %}

{% block content %}
<p> Welome to the HLI Publication Scraper page. This page runs code to automatically scrape data from PubMed. <br></p>  

    <h2>Create your query here:</h2><br>
    <form method="POST" class="form">{% csrf_token %}
        <p> Either click on the "select all" button below, or individually choose which authors you would like to query: </p>
        <button type="button" class="btn btn-outline-primary btn-sm" id='check_all'>Select All Authors</button>
        <button type="button" class="btn btn-outline-primary btn-sm" id='uncheck_all'>Clear Selection</button> <br>
        {% load crispy_forms_tags %}  
        <!-- {{ form | crispy}} -->

                <!--{{form.or_choose_which_author|as_crispy_field}}-->
                <!--{% for a in form.or_choose_which_author %} 
                    {{ a }} &emsp;
                {% endfor %} -->
        <div class="row mt-2 ml-auto mr-auto">
            {% for a in form.or_choose_which_author %}
            <div class="col-md-2">
                <h6 class="ml-2 mt-2" id="info-text">
                    {{ a }}
                </h6>
            </div>
            {% endfor %}
        </div>
        <br>
                {{form.min_date|as_crispy_field}}
                {{form.max_date|as_crispy_field}} 
        <br>

        <!--<p>Click on "Execute script" to run the code and generate your citations.</p>
        <button onclick="location.href='{% url 'script' %}'">Execute script</button> <hr>-->

        <button type="submit" class="btn btn-secondary btn-block">Run Query</button>
        <button type="reset" onclick="location.href='{% url 'home' %}'" class="btn btn-secondary btn-block float-end">Reset Form</button>

    </form>

 {% endblock %}